@font-face {
    font-family: 'support';
    src: url(../font/support.ttf);
}

body,a,img{
    padding:0;
    margin:0;
}

body {
    margin: 0px auto;
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
}

#content {
    position: relative;
    margin: 0px auto;
    text-align: center;
    width: 980px;
    height: 768px;
    background-color: #ffefde;
    cursor: pointer;
}


#title_en {
    color:  #9c453d;
    font-size: 60px;
    font-weight: 700;
    font-family: 'support';
    text-shadow: #ffe5e5 0.1em 0.1em 0.2em;
}

#word {
    color: black;
    font-weight: 900;
    font-size: 55px;
    margin: 10px;
}

#standard_sound{
    width: 70px;
    z-index: 1;
    height: auto;
    cursor: pointer;
}
#sound{
    margin: 10px;
    width: 70px;
    z-index: 1;
    height: auto;
    cursor: pointer;
    display: none;
}

#record,#stop,#sound,#next_btn,#clear,#standard_sound:hover{
    transition: .7s;
    transform: scale(1.2); 
}

.title {
    padding-top: 40px;
}

#vocabulary {
    background-color: white;
    width: 45%;
    margin: 20px auto;
    height: 200px;
    margin-top: 90px;
    border-radius: 20px;
    border: 5px solid gray;
    display: block;
}


#record {
    width:60px;
    margin-top:50px;
    margin-right:20px;
    display: none;
    cursor: pointer;
}

#stop {
    width:60px;
    margin-top:50px;
    margin-left:40px;
    display: none;
    cursor: pointer;
}

.voice {
    width: 287px;
}

#voice_zone {
    background-color: #FFF;
    border: 6px solid #FFBF1D;
    border-radius: 20px;
    width: 90%;
    margin-top: 10px;
    margin: auto;
    padding: 10px 10px 10px 10px;
    display: none;
    cursor: pointer;
}

#voice_zone_1,#voice_zone_2,#voice_zone_3{
    margin: 5px auto;
    border: 5px dashed gray;
    border-radius: 20px;
    width: 290px;
    height: 82px;
    display: inline-block;
    cursor: pointer;
}

#click_zone {
    margin: 0 auto;
    margin-top: 25px;
    display: none;
    cursor: pointer;
}

#next_btn {
    width: 125px;
    cursor: pointer;
}

#audio_zone {
    display: none;
    cursor: pointer;
}

#recordingslist {
    display: none;
}

#voice_1 {
    visibility: hidden;
    cursor: pointer;
}
#voice_2 {
    visibility:hidden;
    cursor: pointer;
}
#voice_3 {
    visibility:hidden;
    cursor: pointer;
}

#spell_zone {
    background-color: white;
    width: 45%;
    margin: 20px auto;
    height: 300px;
    margin-top: 100px;
    border-radius: 20px;
    padding: 20px;
    border: 5px solid gray;
    display: inline-block;
    position: relative;
    display: none;
    cursor: pointer;
}

#hint {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 60px;
    z-index: 1;
    height: auto;
    cursor: pointer;
}

#spell_sound {
    position: absolute;
    top: -70px;
    left: 168px;
    width: 150px;
    z-index: 1;
    height: auto;
    cursor: pointer;
}

#spell_title {
    font-weight: 800;
    color: #ffb100;
    font-size: 38px;
    font-weight: 700;
    white-space: pre;
    padding: 5px;
}

#answer {
    width: 95%;
    height: 50px;
    padding: 5px;
    font-weight: 700;
    font-size: 36px;
    background-color: #FEF4F4;
    margin-top: 30px;
    border: 2px solid #E1E1E1;
    border-radius: 8px;
    text-align: center;
    letter-spacing: 8px; /*文字間隔*/
    color: #B27B7B;
    cursor: pointer;
}
#answer:focus{
    border: 2px solid #FFBDBD;
}

#tip {
    font-weight: 700;
    font-size: 22px;
    margin: 10px;
    padding: 10px;
    font-family: 'support';
}


#progress {
    margin: 0px auto;
    padding: 0px;
    color: black;
    font-weight: 600;
    font-size: 23px;
    background-color: #DDD;
    height:24px;
    width:100%;
}

#progress_bar {
    text-align: left;
    margin: 0px;
    padding: 0px;
    background-color: #5B9EFF;
    height:24px;
    width:0%;
    transition: 1.5s;
}

#clear {
    width: 60px;
    cursor: pointer;
    margin-right: 200px;
    display: inline-block;
}


/*選項容器*/
#image_zone {
    position: absolute;
    top: 255px;
    left: 50px;
    width: 180px;
    height: 174px;
    border-radius: 20px;
    border: 3px solid grey;
    box-shadow:3px 3px 12px black;
    overflow:hidden;
    background-color: white;
    
    /*以下三個屬性為文字或圖像水平、垂直置中的方法中最沒問題的寫法。*/
    display:none;
    align-items:center;
    justify-content:center;
}


/*圖片限制最大寬度:180px;最大高度:174px*/
#img {
    max-width: 180px;
    max-height: 174px;
}


#info_zone{
    position: absolute;
    top: 255px;
    right: 50px;
    width: 180px;
    height: 174px;
    border-radius: 20px;
    border: 3px solid grey;
    box-shadow:3px 3px 12px black;
    overflow:hidden;
    background-color: white;
    
    /*以下三個屬性為文字或圖像水平、垂直置中的方法中最沒問題的寫法。*/
    display:none;
    align-items:center;
    justify-content:center;
}

#definition{
    font-family: 'support';
    color: black;
    font-weight: 900;
    font-size: 30px;
}
#part_speech {
    font-family: 'support';
    color: black;
    font-weight: 900;
    font-size: 30px;
    margin: 5px;
}
