@font-face {
    font-family: 'support';
    src: url(../font/support.ttf);
}

body,
a,
img {
    padding: 0;
    margin: 0;
}

body {
    margin: 0px auto;
    background-image: url('');
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
}

#content {
    position: relative;
    margin: 0px auto;
    text-align: center;
    width: 980px;
    height: 768px;
    cursor: pointer;
    background-image: url(../material/wood.jpg);
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;

}

 #shop_pile {
    background-image: url(../material/locker-room/shop3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
} 

.s_coin_icon{
    width: 20px;
    height: 20px;
    z-index: 100;
    position: initial;
    left: -5px;
    top: 58px;
}
.commodity_name{
    position: initial;
    top: 60px;
    left: 18px;
    font-weight:bold;
    color: white;
}

.commodity_img{
    width: 50px;
    height: 50px; 
}

.character_commodity_img{
    width: 100px;
}


/*
#commodity_list {
    position: initial;
    padding-top: 200px;
    left: 390px;
    height: 780px;
}
*/
#avatar-box{
    height: 580px;
    background-size: 100% 100%;
    background-image: url(../material/locker-room/spotlight\ 34.png);
}
#avatar {
    padding: 0px;
    margin: 0px;
    width:200px; 
    filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.7));
}



.commodity {
    background-color: white;
    border: 8px solid #b7b7b7;
    border-radius: 20px;
    margin: 18px;
    display: inline-block;
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
}


#coin_icon {
    background-image: url(../material/locker-room/minus_dollar.png);;
    background-size: 80% 100%;
    background-repeat: no-repeat;
} 


.title {
    font-size: 25px;
    font-weight: 900;
    margin-top: 17px;
}

#coin {
    font-weight: border;
    color: white;
    font-size: 30px;
} 

#earth {
    width:89px;
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    margin-top: 10px;
}
#earth:hover{
    transition: .5s;
    transform: scale(1.1); 
}