@font-face {
    font-family: 'support';
    src: url(../font/support.ttf);
}

body,
a,
img {
    padding: 0;
    margin: 0;
}

body {
    margin: 0px auto;
    background-image: url('');
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
}

#content {
    position: relative;
    margin: 0px auto;
    text-align: center;
    width: 980px;
    height: 768px;
    cursor: pointer;
    background-image: url(../material/wood.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow-x: hidden;
    overflow-y: auto;

}
.top3-img{
    height: 150px;
    margin-bottom: -356px;
}
.top2-img{
    height: 150px;
    margin-bottom: -306px;
}
.top1-img{
    height: 200px;
}

#podium {
    margin-top: 0px;
    height: 120px;
    background-image: url(../material/podium.png);
    background-size: 100% 100%;
}

#rank-logo {
    background-image: url('../material/資產 1@3x.png');
    background-size: 100% 100%;
    height: 100px;
    margin-bottom: 10px;
}

#content::-webkit-scrollbar {
    width: 0 !important;
}

#rank_pile {
    position: absolute;
    top: 235px;
    width: 980px;
    height: 768px;
}
.card_trophy{
    width: 40px;
}
.card_name{
    width: 50px;
    font-weight: 550;
    font-size: 50px;
    height: auto;
    cursor: pointer;
    margin: 0px;
    display: inline;
    line-height: 10px;
    margin-right: 300px;
    margin-bottom: 10px;
    

}
.card_count{
    font-weight: 550;
    font-size: 50px;
    margin: 0px;
    display: inline;
    margin-right: 15px;
    margin-bottom: 10px;
}
.title {
    font-weight: 550;
    font-size: 30px;
    height: auto;
    color: white;
}
.title-value{
    font-weight: 550;
    font-size: 30px;
    height: auto;
    color: black;
}
.card-item{
   background-color: white;
    border: 2px solid #b7b7b7;
    border-radius: 20px;
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7)); 
    margin-top: 50px;
}
.name_card {
    font-weight: 550;
    font-size: 30px;
    height: auto;
    /* background-color: white;
    border: 2px solid #b7b7b7;
    border-radius: 20px;
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));  */
}


#earth {
    width:89px;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
}

#earth:hover{
    transition: .5s;
    transform: scale(1.1); 
}