@font-face {
    font-family: 'support';
    src: url(../font/support.ttf);
}

body {
    margin: 0px auto;
    padding: 0px;
    background-color: #FFF;
    text-align: center;
}

#stages {
    text-align: center;
    margin: 0px auto;
    background-color: rgba(0,0,0, 0.4);
    border-radius: 40px;
}

#stages .each_level {
    position: relative;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(217,217,217);
    border: 8px solid rgb(0,0,0);
    border-radius: 30px;
    margin: 12px;
    width: 250px;
    height: 105px;
    padding-top: 10px;
    pointer-events: none;
}

#stages .each_level:hover{
    transition: .6s;
    transform:scale(1.1);
}


h1 {
    color: black;
    font-size: 72px;
    margin: 0px; 
    padding: 40px 0px 50px 0px;
}

h2 {
    color: red;
    font-weight: 600;
    font-size: 40px;
    margin: 10px 0px 20px 0px;; 
}


#earth {
    position: absolute;
    top:30px;
    left:30px;
    width:80px;
    /* height:120px; */
}
#earth:hover{
    transition: .5s;
    transform: scale(1.1); 
}

#question {
    position: absolute;
    top: 8%;
    left: 50%;
    margin-left: 330px;
    width:130px;
    height:130px;
}
#question:hover{
    transition: .7s;
    transform: scale(1.2); 
}

#content {
    position: relative;
    margin: 0px auto;
    text-align: center;
    width: 980px;
    height: 768px;
/*    background-image: url('../material/mountain.png');*/
    background-image: url('../material/playground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.star {
    width: 40px;
    height: 40px;
}

.word_zone {
    display: inline-block;
    vertical-align: top;
    font-weight: 900;
    font-family: 'support';
    font-size: 22px;
    color: rgb(0,0,0);
    height: 30px;
}

.star_zone {
    display: inline-block;
    vertical-align: top;
}

.title_zone {
    margin: auto;
    margin-bottom: 15px;
    background-color: rgb(0,0,0);
    border-radius: 10px;
    font-weight: 400;
    color: white;
    padding: 5px;
    width: 200px;
    line-height: 30px;
    height: 30px;
}

.level_icon {
    position: absolute;
    top: -20px;
    left: -22px;
    width: 45px;
    height: 45px;
    z-index: 1;
}

#title {
    color: black;
    font-size: 72px;
    margin: 0px; 
    padding: 40px 0px 80px 0px;
}
