@font-face {
    font-family: 'support';
    src: url(../font/support.ttf);
}

body,a,img{
    padding:0;
    margin:0;
}

body {
    margin: 0px auto;
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
}

#content {
    position: relative;
    margin: 0px auto;
    text-align: center;
    width: 980px;
    height: 768px;
    background-color: #ffefde;
    cursor: pointer;
}

#progress {
    margin: 0px auto;
    padding: 0px;
    color: black;
    font-weight: 600;
    font-size: 23px;
    background-color: #DDD;
    height:24px;
    width:100%;
}

#progress_bar {
    text-align: left;
    margin: 0px;
    padding: 0px;
    background-color: #5B9EFF;
    height:24px;
    width:0%;
    transition: 1.5s;
}
.title{
    padding-top: 40px;
}

#title_en {
    color: #9c453d;
    font-size: 60px;
    font-weight: 700;
    font-family: 'support';
    text-shadow: #ffe5e5 0.1em 0.1em 0.2em;
}

.word {
    border: 5px solid grey;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    height: 60px;
    line-height:60px;
    width: 300px;
    font-size: 40px;
    font-weight: 800;
    color: black;
    text-align: center;
    display: inline-block;
    box-shadow:3px 3px 12px black;
}


#user_zone {
    position: relative;
    background-color: #eff2f7;
    max-width: 83%;
    margin: 20px auto;
    height: 400px;
    margin-top: 50px;
    border-radius: 20px;
    border: 8px solid #eff2f7;
    display: block;
    cursor: pointer;
}

#click_zone {
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
}

#done,
#next_btn {
    width: 125px;
    cursor: pointer;
}

/*色盤*/
#palette{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #eff2f7;
    margin: auto;
    padding: 10px;
    display: none;
}
#palette_background,#palette_border{
    margin: auto;
    padding: 5px;
}
.option{
    width: 20px;
    height: 20px;
    border: 4px solid white;
    display:inline-flex;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    align-items:center;
    justify-content:space-around;
}
.option_bg,.option_br{
    width: 10px;
    height: 10px;
    border: 3px solid white;
    display:inline-flex;
    border-radius: 5px;
    padding: 10px;
    margin: 2px;
    align-items:center;
    justify-content:space-around;
}
.active {
    border: 3px solid grey;
}
.active:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

/*筆觸寬度*/
#line {
    position: absolute;
    top: 230px;
    left: 10px;
    background-color: #eff2f7;
    margin: auto;
    padding: 10px;
    display: none;
}
.lw {
    width: 20px;
    height: 20px;
    border: 4px solid white;
    display:inline-flex;
    padding: 10px;
    border-radius: 5px;
    align-items:center;
    justify-content:space-around;
}


#canvas_draw {
    position: absolute;
    top: 24px;
    right: 10px;
    border: 2px solid gray;
    cursor: pointer;
    margin: auto;
}


#btn_zone{
    position: absolute;
    top: 22px;
    left: 300px;
    background-color: #eff2f7;
    margin: auto;
    display: none;
}
#undo,#redo,#clear {
    font-size: 27px;
    padding: 20px;
    margin-top: 30px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'support';
}

#canvas_position {
    display: none;
}


.picture {
    width: 214px;
    height: 214px;
    border-radius: 20px;
    border: 5px solid #AAA;
    box-shadow:3px 3px 10px black;
    overflow:hidden;
    background-color: white;
    
    /*以下三個屬性為文字或圖像水平、垂直置中的方法中最沒問題的寫法。*/
    display:none;
    align-items:center;
    justify-content:center;
}

.image{
    max-width: 214px;
    max-height: 214px;
}

#picture_pick_0 {
    position: absolute;
    top: 90px;
    left: 35px;
}
#picture_pick_1 {
    position: absolute;
    top: 90px;
    left: 295px;
}
#picture_pick_2 {
    position: absolute;
    top: 90px;
    right: 35px;
    
}

#card {
    position: absolute;
    top: 10px;
    left: 30px;
    background-color: white;
    border: 8px solid #b7b7b7;
    border-radius: 20px;
    width: 270px;
    display: none;
}

#vocabulary {
    font-size: 40px;
    font-weight:bolder;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

#part_speech {
    font-family: 'support';
    color: black;
    font-weight: 700;
    font-size: 20px;
    margin: 10px;
}

#definition {
    font-family: 'support';
    color: black;
    font-weight: 700;
    font-size: 20px;
    margin: 10px;
}

#normal_sound {
    width: 50px;
    z-index: 1;
    height: auto;
    cursor: pointer;
    margin: 8px;
    margin-right: 15px;
}

#self_sound {
    width: 50px;
    z-index: 1;
    height: auto;
    cursor: pointer;
    margin: 8px;
    margin-left: 15px;
}

#background_zone {
    position: absolute;
    top: 60px;
    left:365px;
    background-color:#b0e3ff;
    width: 200px;
    border: 8px dashed #3085d6;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Microsoft JhengHei';
    display: none;
}
#border_zone{
    position: absolute;
    top: 60px;
    left:589px;
    background-color:#ffe2e2;
    width: 200px;
    border: 8px dashed #ffb7b7;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Microsoft JhengHei';
    display: none;
}

#picture {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}
