@font-face {
    font-family: 'support';
    src: url(../font/support.ttf);
}

body,a,img{
    padding:0;
    margin:0;
}

body {
    margin: 0px auto;
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
}

#content {
    position: relative;
    margin: 0px auto;
    text-align: center;
    width: 980px;
    height: 768px;
    cursor: pointer;
    background-image: url(../material/sea.png);
    background-repeat: no-repeat;
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
#information {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    width: 350px;
    height: 130px;
    padding: 5px;
    border: 3px solid #fffce4;
    border-radius: 20px;
    background-color: #ffe89d;
    -webkit-filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.7));
    
}
#avatar-box{
    position: absolute;
    top:0px;
    left:700px;
}

#vi_icon {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 140px;
    display:inline-block;
    margin: 0px;
}

#data {
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    border: 2px solid black;    
    margin-left: 10px;
}

.title {
    font-size: 25px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 3px;
}




#name {
    font-family: 'Microsoft JhengHei';
    font-weight: border;
    color: maroon;
    font-size: 30px;
    margin-left: 10px;
}

#flashcard {
    font-weight: border;
    color: red;
    font-size: 30px;
    margin-left: 10px;
}

#coin {
    font-weight: border;
    color: red;
    font-size: 30px;
    margin-left: 10px;
}

#boat {
    position: absolute;
    bottom: 15px;
    left: 25px;
    width: 130px;
    padding: 0px;
    margin: 0px;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
}
#book {
    position: absolute;
    bottom: 15px;
    left: 215px;
    width: 130px;
    padding: 0px;
    margin: 0px;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
}
#rank{
    position: absolute;
    bottom: 15px;
    left: 425px;
    width: 130px;
    padding: 0px;
    margin: 0px;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
}
#shops {
    position: absolute;
    bottom: 15px;
    right: 215px;
    width: 130px;
    padding: 0px;
    margin: 0px;
    -webkit-filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.7));
}
#bag {
    position: absolute;
    bottom: 15px;
    right: 25px;
    width: 130px;
    padding: 0px;
    margin: 0px;
    -webkit-filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.7));
}

#avatar {
    position: absolute;
    padding: 0px;
    margin: 0px;
    width:150px; 
    -webkit-filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(6px 6px 7px rgba(0, 0, 0, 0.7));
}

.island {
    width: 350px;
}

.island-image {
    width: 200px;
}

#Travel {
    position: absolute;
    top: 450px;
    left: 7px;
    width: auto;
}

#Environments {
    position: absolute;
    top: 350px;
    left: 70px;
    width: auto;
}

#People {
    position: absolute;
    top: 260px;
    left: 190px;
    width: auto;
}

#Activities {
    position: absolute;
    top: 200px;
    left: 410px;
    width: auto;
}

#Food{
    position: absolute;
    top: 260px;
    right: 190px;
    width: auto;
}

#Work {
    position: absolute;
    top: 350px;
    right: 70px;
    width: auto;
}

#AroundTown {
    position: absolute;
    top: 450px;
    right: 7px;
    width: auto;
}

#content-image {
    width: 115px;
    position: absolute;
    top: 24px;
    left: 43px;
}

.island-name {
    background-color: rgba(0,0,0,0.3);
    width: 180px;
    font-weight: 700;
    font-size: 25px;
}

 /* 變大變小 */
 .island:hover,.under_bt:hover{
    transition: .7s;
    transform: scale(1.1); 
}



.island-name {
    position: absolute;
    top: 155px;
    left: 30px;
    color:#FF9797;
    z-index:100
}
#islands{
    padding: 40px 0px 171px 0px;
}



/* *-------------- */


#stages {
    text-align: center;
    margin: 0px auto;
    background-color: rgba(0,0,0, 0.4);
    border-radius: 40px;
}
.island-buliding {
    position: absolute;
    width: 150px;
}
#stages .island {
    position: relative;
    display: inline-block;
    vertical-align: top;
    /* background-color: rgb(217,217,217); */
    border-radius: 30px;
    margin: 12px;
    width: 230px;
    height: 160px;
    padding-top: 10px;
    /* pointer-events: none; */
    pointer-events: auto;
}

#stages .island:hover{
    transition: .6s;
    transform:scale(1.1);
}