@font-face {
    font-family: 'support';
    src: url(../font/support.ttf);
}

body,a,img{
    padding:0;
    margin:0;
}

body {
    margin: 0px auto;
    background-image: url('');
    background-color: #FFF;
    text-align: center;
    cursor: pointer;
}

#content {
    position: relative;
    margin: 0px auto;
    text-align: center;
    width: 980px;
    height: 768px;
    cursor: pointer;
    background-image: url(../material/wood.jpg);
    background-attachment: fixed;
    background-size:cover;
    overflow-x:hidden;
    overflow-y:auto;
    
}
#content::-webkit-scrollbar{
    width : 0  !important;
}

#card_pile{
    position: absolute;
    top: 170px;
    width: 980px;
    padding-bottom: 100px;
}

.card{
    background-color: white;
    border: 8px solid #b7b7b7;
    border-radius: 20px;
    width: 220px;
    margin: 18px;
    display: inline-block;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
}
#banner {
    position: absolute;
    top: 23px;
    left: 183px;
    height: 140px;
    display:inline-block;
    margin: 0px;
}
.vocabulary {
    font-size: 40px;
    font-weight:bolder;
    color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.part_speech {
    font-family: 'support';
    color: black;
    font-weight: 700;
    font-size: 20px;
    margin: 10px;
}

.definition {
    font-family: 'support';
    color: black;
    font-weight: 700;
    font-size: 20px;
    margin: 10px;
}

.normal_sound {
    width: 50px;
    z-index: 1;
    height: auto;
    cursor: pointer;
    margin: 8px;
    margin-right: 15px;
}

.self_sound {
    width: 50px;
    z-index: 1;
    height: auto;
    cursor: pointer;
    margin: 8px;
    margin-left: 15px;
}

.picture {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

#searchPosition {
    margin: auto;
    position: absolute;
    top: 40px;
    left: calc(520px);
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#search_icon{
    width: 75px;
    height: 75px;
    content: url(../material/Leaderboards.gif);
    vertical-align: middle;
}

#search {
    text-align: center;
    vertical-align: middle;
    background: #FFF;
    margin: 5px 50px 5px 5px;
    padding: 6px;
    height: 45px;
    border-radius: 10px;
    font-weight: 550;
    width: 300px;
    border: 1px solid grey;
    font-size: 25px;
    letter-spacing: 5px; /*文字間隔*/
    cursor: pointer;
}
#search:focus{
    border: 1px solid red;
}


#earth {
    position: absolute;
    top:40px;
    left: 40px;
    width:89px;
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
}
#earth:hover{
    transition: .5s;
    transform: scale(1.1); 
}